<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>La Comedia Del Map</title>
  </head>
  <body>
    <header>
      <h1>La Comedia Del Map</h1>
    </header>
    <section>
      <h1>À l'affiche</h1>
    </section>
    <aside>
      <h1>TOP 5</h1>
      <ul>
        <li><a href = "#">Link Item 1</a></li>
        <li><a href = "#">Link Item 2</a></li>
        <li><a href = "#">Link Item 3</a></li>
        <li><a href = "#">Link Item 4</a></li>
        <li><a href = "#">Link Item 4</a></li>
      </ul>
    </aside>
    <footer>
      Copyright &copy; La Comedia Del Map
    </footer>

  </body>
</html>
