<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>La Comedia Del Map</title>
  </head>
  <body>
    <header>
      <h1>La Comedia Del Map</h1>

      <% if user_signed_in? %>
        <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Se connecter', new_user_session_path %>
        <%= link_to 'Créer un compte', new_user_registration_path %>        
      <% end %>

    </header>
    <section>
      <h1>À l'affiche</h1>
    </section>
    <aside>
      <h1>TOP 5</h1>
      <ul>
        <li><a href = "#">Cyrano de Bergerac</a></li>
        <li><a href = "#">Antigone</a></li>
        <li><a href = "#">Hamlet</a></li>
        <li><a href = "#">Roméo et Juliette</a></li>
        <li><a href = "#">Dom Juan</a></li>
      </ul>
    </aside>
    <footer>
      Copyright &copy; La Comedia Del Map
    </footer>

  </body>
</html>
